cnt = 0;
maxLimit = 5;
cnt.setLabel("User");
window.addEventListener("click", function(event){
	if(cnt<maxLimit)
	{
		event.stopPropagation();
		cnt = cnt+1;
	}
	else
	{
		cnt = 0;
	}
},true);